body {
  background-color: black;
  background-image:url('/stardust.png');
}


th {
  text-align: left;
}

#controls{
  width: 50%;
  margin: 0 auto;
}


#soundcloud {
  margin: 30px;
}

#map-canvas{
  border:1px solid black;
 height: 300px;
 width: 700px;
 margin: 0 auto;
}

#logo{
  height: 100px;
  width: 500px;
  margin: 0 auto;
}

#tweetbox {
  height: 250px;
}

#content {
  margin-top: 10px;
  margin-left:  40%;
}
#navbar {
  padding-left: 25px;
  float: left;
  width: 40%;
}

 #footer {
  width:90%;
  padding-left: 30px;
  margin: 0 auto;
  position:absolute;
  bottom:0;
  left:0;

}


.button {
  margin: auto;
   border-top: 1px solid #ffffff;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   padding: 14px 28px;
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   display: inline-block;
   margin-top: 20px;
   }
.button:hover {
   border-top-color: #4a1b3f;
   background: #4a1b3f;
   color: #ccc;
   }
.button:active {
   border-top-color: #831fab;
   background: #831fab;
   }