body {
  background-color: black;
  background-image:url('/stardust.png');
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

#map-canvas{
  margin-top: 10px;
  border:1px solid black;
 height: 350px;
 width: 600px;
 margin: 0 auto;
}

#logo{
  height: 100px;
  width: 500px;
  margin: 0 auto;
}

#content {
  margin-top: 10px;
  margin-left:  40%;
}
#navbar {
  padding-left: 25px;
  float: left;
  width: 40%;
}

#turnup {
  margin-top: 20px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  box-shadow:inset 0px 1px 0px 0px #fbafe3;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
  background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
  background-color:#ff5bb0;
  -webkit-border-top-left-radius:42px;
  -moz-border-radius-topleft:42px;
  border-top-left-radius:42px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:42px;
  -moz-border-radius-bottomright:42px;
  border-bottom-right-radius:42px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:-2px;
  border:1px solid #ee1eb5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial Black;
  font-size:27px;
  font-weight:bold;
  font-style:italic;
  height:86px;
  line-height:86px;
  width:173px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #c70067;
}
#turnup:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
  background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
  background-color:#ef027d;
}#turnup:a{
  position:relative;
  top:1px;
}

 #footer {
  width:90%;
  padding-left: 30px;
  margin: 0 auto;
  position:absolute;
  bottom:0;
  left:0;

}